# Cleaned Dataset Validation

This notebook performs validation and sanity checks on the cleaned
Dubai Land Transactions dataset stored in Parquet format.

The purpose of this notebook is to verify schema correctness, data
completeness, and structural consistency before feature engineering
and modeling. No data cleaning or transformation is performed here.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("DLD_Data_Validation") \
    .getOrCreate()

In [3]:
df = spark.read.parquet(
    "/content/cleaned_parquet"
)

## Dataset Size Verification

The total number of rows and columns is verified to ensure that the
cleaned dataset was loaded correctly and that no unintended data loss
occurred during ingestion.

In [4]:
print("Number of rows:", df.count())
print("Number of columns:", len(df.columns))

Number of rows: 30173
Number of columns: 50

## Schema Inspection

The dataset schema is inspected to verify data types and confirm that
numerical, categorical, and temporal attributes are represented
correctly after cleaning.

In [5]:
df.printSchema()

root
 |-- transaction_id: string (nullable = true)
 |-- procedure_id: integer (nullable = true)
 |-- trans_group_id: integer (nullable = true)
 |-- trans_group_ar: string (nullable = true)
 |-- trans_group_en: string (nullable = true)
 |-- procedure_name_ar: string (nullable = true)
 |-- procedure_name_en: string (nullable = true)
 |-- instance_date: string (nullable = true)
 |-- property_type_id: integer (nullable = true)
 |-- property_type_ar: string (nullable = true)
 |-- property_type_en: string (nullable = true)
 |-- property_sub_type_id: integer (nullable = true)
 |-- property_sub_type_ar: string (nullable = true)
 |-- property_sub_type_en: string (nullable = true)
 |-- property_usage_ar: string (nullable = true)
 |-- property_usage_en: string (nullable = true)
 |-- reg_type_id: integer (nullable = true)
 |-- reg_type_ar: string (nullable = true)
 |-- reg_type_en: string (nullable = true)
 |-- area_id: integer (nullable = true)
 |-- area_name_ar: string (nullable = true)
 |-- area_name_en: string (nullable = true)
 |-- building_name_ar: string (nullable = true)
 |-- building_name_en: string (nullable = true)
 |-- project_number: string (nullable = true)
 |-- project_name_ar: string (nullable = true)
 |-- project_name_en: string (nullable = true)
 |-- master_project_en: string (nullable = true)
 |-- master_project_ar: string (nullable = true)
 |-- nearest_landmark_ar: string (nullable = true)
 |-- nearest_landmark_en: string (nullable = true)
 |-- nearest_metro_ar: string (nullable = true)
 |-- nearest_metro_en: string (nullable = true)
 |-- nearest_mall_ar: string (nullable = true)
 |-- nearest_mall_en: string (nullable = true)
 |-- rooms_ar: string (nullable = true)
 |-- rooms_en: string (nullable = true)
 |-- has_parking: integer (nullable = true)
 |-- procedure_area: double (nullable = true)
 |-- actual_worth: double (nullable = true)
 |-- meter_sale_price: double (nullable = true)
 |-- rent_value: double (nullable = true)
 |-- meter_rent_price: double (nullable = true)
 |-- no_of_parties_role_1: integer (nullable = true)
 |-- no_of_parties_role_2: integer (nullable = true)
 |-- no_of_parties_role_3: integer (nullable = true)
 |-- instance_ts: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- dow: integer (nullable = true)

## Sample Record Inspection

A small sample of records is displayed to visually confirm that values
are correctly parsed and aligned with their respective columns.

In [6]:
df.show(5, truncate=False)

+-----------------+------------+--------------+--------------+--------------+--------------------------+-------------------------+-------------+----------------+----------------+----------------+--------------------+--------------------+--------------------+-----------------+-----------------+-----------+----------------+-------------------+-------+--------------+------------------+--------------------------+----------------------+--------------+--------------------------+---------------------------+--------------------------+---------------------------------+---------------------------------+----------------------------+------------------------+--------------------------+---------------+------------------+--------+--------+-----------+--------------+------------+----------------+----------+----------------+--------------------+--------------------+--------------------+-----------+----+-----+----+
|transaction_id   |procedure_id|trans_group_id|trans_group_ar|trans_group_en|procedure_name_ar         |procedure_name_en        |instance_date|property_type_id|property_type_ar|property_type_en|property_sub_type_id|property_sub_type_ar|property_sub_type_en|property_usage_ar|property_usage_en|reg_type_id|reg_type_ar     |reg_type_en        |area_id|area_name_ar  |area_name_en      |building_name_ar          |building_name_en      |project_number|project_name_ar           |project_name_en            |master_project_en         |master_project_ar                |nearest_landmark_ar              |nearest_landmark_en         |nearest_metro_ar        |nearest_metro_en          |nearest_mall_ar|nearest_mall_en   |rooms_ar|rooms_en|has_parking|procedure_area|actual_worth|meter_sale_price|rent_value|meter_rent_price|no_of_parties_role_1|no_of_parties_role_2|no_of_parties_role_3|instance_ts|year|month|dow |
+-----------------+------------+--------------+--------------+--------------+--------------------------+-------------------------+-------------+----------------+----------------+----------------+--------------------+--------------------+--------------------+-----------------+-----------------+-----------+----------------+-------------------+-------+--------------+------------------+--------------------------+----------------------+--------------+--------------------------+---------------------------+--------------------------+---------------------------------+---------------------------------+----------------------------+------------------------+--------------------------+---------------+------------------+--------+--------+-----------+--------------+------------+----------------+----------+----------------+--------------------+--------------------+--------------------+-----------+----+-----+----+
|2-110-2010-1654  |110         |2             |رهون          |Mortgages     |تسجيل إيجارة تنتهى بالتملك|Lease to Own Registration|05-07-2010   |3               |وحدة            |Unit            |60                  |شقه سكنيه           |Flat                |سكني             |Residential      |1          |العقارات القائمة|Existing Properties|390    |برج خليفة     |Burj Khalifa      |8 بوليفارد واك            |8 BLVD WALK           |null          |NULL                      |NULL                       |DownTown Dubai            |داون تاون دبي                    |وسط مدينة دبي                    |Downtown Dubai              |محطة مترو الخليج التجاري|Business Bay Metro Station|مول دبي        |Dubai Mall        |غرفتين  |2 B/R   |1          |151.8         |867007.0    |5711.51         |867007.0  |5711.51         |2                   |2                   |4                   |NULL       |NULL|NULL |NULL|
|2-110-2009-200255|110         |2             |رهون          |Mortgages     |تسجيل إيجارة تنتهى بالتملك|Lease to Own Registration|24-02-2009   |3               |وحدة            |Unit            |60                  |شقه سكنيه           |Flat                |سكني             |Residential      |1          |العقارات القائمة|Existing Properties|343    |ورسان الاولى  |Al Warsan First   |يو - 02                   |U-02                  |null          |NULL                      |NULL                       |International City Phase 1|المدينة العالمية - المرحلة الاولى|NULL                             |NULL                        |محطة مترو الراشدية      |Rashidiya Metro Station   |سيتي سنتر مردف |City Centre Mirdif|استوديو |Studio  |0          |76.0          |201640.0    |2653.16         |201640.0  |2653.16         |2                   |2                   |2                   |NULL       |NULL|NULL |NULL|
|2-37-2007-100109 |37          |2             |رهون          |Mortgages     |تحويل إيجارة تنتهى بالتملك|Lease to Own Transfer    |14-08-2007   |4               |فيلا            |Villa           |4                   |فيلا                |Villa               |سكني             |Residential      |1          |العقارات القائمة|Existing Properties|352    |الثنيه الرابعة|Al Thanayah Fourth|NULL                      |NULL                  |1046          |روعة الإمارات? الينابيع 9 |Emirates Living - Springs 9|Springs - 2               |الينابيع - 2                     |أكاديمية المدينة الرياضية للسباحة|Sports City Swimming Academy|محطة مترو النخيل        |Nakheel Metro Station     |مارينا مول     |Marina Mall       |غرفتين  |2 B/R   |0          |356.3         |1119825.0   |3142.93         |1119825.0 |3142.93         |2                   |0                   |0                   |NULL       |NULL|NULL |NULL|
|2-110-2018-559   |110         |2             |رهون          |Mortgages     |تسجيل إيجارة تنتهى بالتملك|Lease to Own Registration|04-09-2018   |3               |وحدة            |Unit            |60                  |شقه سكنيه           |Flat                |سكني             |Residential      |1          |العقارات القائمة|Existing Properties|348    |القوز الرابعه |Al Goze Fourth    |الخـيـــل هايـتـــس 5A-5B |AL KHAIL HEIGHTS 5A-5B|1527          |الخيل هايتس               |AL KHAIL HEIGHTS           |NULL                      |NULL                             |وسط مدينة دبي                    |Downtown Dubai              |محطة مترو نور بنك       |Noor Bank Metro Station   |مول دبي        |Dubai Mall        |غرفتين  |2 B/R   |1          |159.3         |581944.0    |3653.13         |581944.0  |3653.13         |2                   |2                   |2                   |NULL       |NULL|NULL |NULL|
|2-110-2007-100127|110         |2             |رهون          |Mortgages     |تسجيل إيجارة تنتهى بالتملك|Lease to Own Registration|02-07-2007   |4               |فيلا            |Villa           |4                   |فيلا                |Villa               |سكني             |Residential      |1          |العقارات القائمة|Existing Properties|352    |الثنيه الرابعة|Al Thanayah Fourth|NULL                      |NULL                  |1035          |روعة الإمارات ? الينابيع 5|Emirates Living - Springs 5|Springs - 4               |الينابيع - 4                     |أكاديمية المدينة الرياضية للسباحة|Sports City Swimming Academy|محطة مترو النخيل        |Nakheel Metro Station     |مارينا مول     |Marina Mall       |ثلاث غرف|3 B/R   |0          |531.29        |941510.0    |1772.12         |941510.0  |1772.12         |2                   |2                   |4                   |NULL       |NULL|NULL |NULL|
+-----------------+------------+--------------+--------------+--------------+--------------------------+-------------------------+-------------+----------------+----------------+----------------+--------------------+--------------------+--------------------+-----------------+-----------------+-----------+----------------+-------------------+-------+--------------+------------------+--------------------------+----------------------+--------------+--------------------------+---------------------------+--------------------------+---------------------------------+---------------------------------+----------------------------+------------------------+--------------------------+---------------+------------------+--------+--------+-----------+--------------+------------+----------------+----------+----------------+--------------------+--------------------+--------------------+-----------+----+-----+----+
only showing top 5 rows

## Missing Value Analysis

The presence of missing values is examined to understand data
completeness and to inform subsequent feature-level handling.

In [7]:
from pyspark.sql.functions import col, sum

missing_summary = df.select([
    sum(col(c).isNull().cast("int")).alias(c)
    for c in df.columns
])

missing_summary.show(truncate=False)

+--------------+------------+--------------+--------------+--------------+-----------------+-----------------+-------------+----------------+----------------+----------------+--------------------+--------------------+--------------------+-----------------+-----------------+-----------+-----------+-----------+-------+------------+------------+----------------+----------------+--------------+---------------+---------------+-----------------+-----------------+-------------------+-------------------+----------------+----------------+---------------+---------------+--------+--------+-----------+--------------+------------+----------------+----------+----------------+--------------------+--------------------+--------------------+-----------+-----+-----+-----+
|transaction_id|procedure_id|trans_group_id|trans_group_ar|trans_group_en|procedure_name_ar|procedure_name_en|instance_date|property_type_id|property_type_ar|property_type_en|property_sub_type_id|property_sub_type_ar|property_sub_type_en|property_usage_ar|property_usage_en|reg_type_id|reg_type_ar|reg_type_en|area_id|area_name_ar|area_name_en|building_name_ar|building_name_en|project_number|project_name_ar|project_name_en|master_project_en|master_project_ar|nearest_landmark_ar|nearest_landmark_en|nearest_metro_ar|nearest_metro_en|nearest_mall_ar|nearest_mall_en|rooms_ar|rooms_en|has_parking|procedure_area|actual_worth|meter_sale_price|rent_value|meter_rent_price|no_of_parties_role_1|no_of_parties_role_2|no_of_parties_role_3|instance_ts|year |month|dow  |
+--------------+------------+--------------+--------------+--------------+-----------------+-----------------+-------------+----------------+----------------+----------------+--------------------+--------------------+--------------------+-----------------+-----------------+-----------+-----------+-----------+-------+------------+------------+----------------+----------------+--------------+---------------+---------------+-----------------+-----------------+-------------------+-------------------+----------------+----------------+---------------+---------------+--------+--------+-----------+--------------+------------+----------------+----------+----------------+--------------------+--------------------+--------------------+-----------+-----+-----+-----+
|0             |0           |0             |0             |0             |0                |0                |0            |0               |0               |0               |0                   |0                   |0                   |0                |0                |0          |0          |0          |0      |0           |0           |4269            |4269            |0             |12357          |12357          |945              |945              |1627               |1627               |6837            |6837            |6872           |6872           |418     |418     |0          |0             |0           |0               |0         |0               |0                   |0                   |0                   |30173      |30173|30173|30173|
+--------------+------------+--------------+--------------+--------------+-----------------+-----------------+-------------+----------------+----------------+----------------+--------------------+--------------------+--------------------+-----------------+-----------------+-----------+-----------+-----------+-------+------------+------------+----------------+----------------+--------------+---------------+---------------+-----------------+-----------------+-------------------+-------------------+----------------+----------------+---------------+---------------+--------+--------+-----------+--------------+------------+----------------+----------+----------------+--------------------+--------------------+--------------------+-----------+-----+-----+-----+

## Duplicate Transaction Check

Transaction identifiers are checked for duplicates to ensure that each
record represents a unique transaction.

In [8]:
total_rows = df.count()
distinct_transactions = df.select("transaction_id").distinct().count()

print("Total rows:", total_rows)
print("Distinct transaction IDs:", distinct_transactions)

Total rows: 30173
Distinct transaction IDs: 30173

## Temporal Coverage Verification

The temporal range of the dataset is examined to confirm the span of
transaction records available for analysis.

In [9]:
df.selectExpr(
    "min(instance_date) as earliest_date",
    "max(instance_date) as latest_date"
).show()

+-------------+-----------+
|earliest_date|latest_date|
+-------------+-----------+
|   01-02-2010| 31-12-2025|
+-------------+-----------+

## Partitioning Inspection

The number of partitions is inspected to understand how the dataset is
distributed across Spark executors.

In [10]:
print("Number of partitions:", df.rdd.getNumPartitions())

Number of partitions: 7

## Validation Summary

The cleaned dataset has been successfully validated in terms of schema,
size, completeness, and structural consistency. No further cleaning is
performed at this stage.

Based on these checks, the dataset is deemed suitable for feature
engineering and large-scale machine learning tasks performed in
subsequent notebooks.